In [1]:
nums = set([1,1,2,3,3,3,4,4])

print(len(nums))

4

In [3]:
d = {"john":40, "peter":45}

print(list(d.keys()))

['john', 'peter']

In [4]:
a = [4,7,3,2,5,9]
for item in a:
    print(str(item) + " is at position " + str(a.index(item) + 1))

4 is at position 1
7 is at position 2
3 is at position 3
2 is at position 4
5 is at position 5
9 is at position 6

In [5]:
s=input("Enter String like H1e2l3l4o5w6o7r8l9d means alphanumeric string which wil contain alternate alphabates and numbers")
s = s[::2]
print(s)

hhy8

In [6]:
s=input("Enter string which you want to reverse")
s = s[::-1]
print(s)

kol

In [7]:
person = {'name': 'Phill', 'age': 22, 'salary':100}
print('Salary: ', person.get('salary', 0)+20)

Salary:  120

In [8]:
dic = {}
s=input('Enter string')
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

a,1
:,1
1,1
5,1

In [9]:
set1={1,3,6,78,35,55}
set2={12,24,35,24,88,120,155}
set1 &= set2
li=list(set1)
print(li)

[35]

In [10]:
li = [12,24,35,24,88,120,155]

li = [x for x in li if x!=24]

print(li)

[12, 35, 88, 120, 155]

In [11]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

In [12]:

li = [12,24,35,70,88,120,155]

li = [x for x in li if not (x%5 ==0 and x%7==0)]

print(li)

[12, 24, 88, 120, 155]

In [1]:
n=int(input("Enter a number"))
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

20.22404182224649